<script type="text/javascript">
  window.seeds = {}
  window.seeds.gameId = <%= @game.id %>;
  window.seeds.players = new Players([
    <% @participations.each do |participation| %>
      {
        id:     <%= participation.id %>,
        name:   <%= raw(participation.user.name.to_json) %>,
        color:  <%= raw(participation.color.to_json) %>,
        active: <%= @game.active_participation_id == participation.id ? true : false %>
      },
    <% end %>
  ]);

  window.seeds.territories = new Territories([
    <% @ownerships.each do |ownership| %>
      {
        id:           <%= ownership.territory.id %>,
        ownershipId:  <%= ownership.id %>,
        path:         <%= raw(ownership.territory.path.to_json) %>,
        owner:        window.seeds.players.get(<%= ownership.participation_id %>),
        neighbourIds: <%= ownership.territory.neighbour_ids.to_json %>,
        unitsCount:   <%= ownership.units_count %>
      },
    <% end %>
  ]).buildNeighbours();

  window.me = window.seeds.players.get(<%= @current_participation.id %>);
</script>

<div class="container">
  <div id="application"></div>
</div>
