.container#game.running
  #map{ data: { me: current_participation.color, game_id: @game.id } }
    = render 'map', territories: @territories
    .credits Gerwin Broers
    
    %ul.badges
      - @ownerships.each do |ownership|
        = render 'badge', ownership: ownership
        
        
  #players
    %table.zebra-striped
      %thead
        %tr
          %th= t('game.player_name')
          %th= t('game.territories_count')
          %th= t('game.units_count')
          
      %tbody
        - @participations.each do |participation|
          %tr{ class: participation.id == @game.active_participation.id && "current",
               data: { color: participation.color } }
            %td{ class: participation.color }
              %span
                = participation.user.name
            %td.territories_count= participation.ownerships.size
            %td.units_count= participation.ownerships.to_a.sum(&:units_count)
