<td color='{{color}}'>
  <span>{{name}}</span>
</td>
<td class='count territories_count'>
  <span class='rotating'>{{territoriesCount}}</span>
</td>
<td class='count units_count'>
  <span class='rotating deployed_units_count'>{{deployedUnitsCount}}</span>
  <span class='units_to_deploy'>+{{unitsCount}}</span>
</td>
