!!!
%html
  %head
    %title= @page_title || t('title')
    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "backbone_application"
    = csrf_meta_tags

  %body
    = render "application/top_bar"
    = yield

    %script#map-view-template{ type: "text/x-handlebars-template" }
      = image_tag "map.png", usemap: "#territories", alt: ""
      %map{ name: "territories" }
      %ul.badges
